<a href="https://colab.research.google.com/github/sobiya1234/Python/blob/main/Python_Assignment_5_File_Handling%2C_Exception_Handling%2C_OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# File Handling:

WRITE

In [ ]:

name = input("Enter your name: ")
age = input("Enter your age: ")
favourite_color = input("Enter your favorite color: ")

with open("user_info.txt", "w") as file:
    file.write(f"Name: {name}\n")
    file.write(f"Age: {age}\n")
    file.write(f"Favourite Color: {favourite_color}\n")

print("Your information has been saved to 'user_info.txt'.")

Enter your name: sobiya
Enter your age: 25
Enter your favorite color: black
Your information has been saved to 'user_info.txt'.

READ

In [ ]:
with open("user_info.txt", "r") as file:
  content=file.read()
  print(content)

Name: sobiya
Age: 25
Favourite Color: black

APPEND

In [ ]:
fav_movie=input("Enter your favourite movie:")
with open("user_info.txt", "a") as file:
  file.write(f"favourite movie: {fav_movie}\n")

Enter your favourite movie:dragon

READLINES

In [ ]:
with open("user_info.txt", "r") as file:
    lines = file.readlines()

    for line in lines:
        print(line.strip())

Name: sobiya
Age: 25
Favourite Color: black
favourite movie: dragon

#  Exception Handling:

1.	Prompts the user to enter a temperature in Celsius

In [ ]:

try:

    celsius = input("Enter the temperature in Celsius: ")


    celsius = float(celsius)


    fahrenheit = (celsius * 9/5) + 32


    print(f"The temperature in Fahrenheit is: {fahrenheit:.2f}")

except ValueError:

    print("Error: Please enter a valid numeric value for the temperature.")

Enter the temperature in Celsius: -20
The temperature in Fahrenheit is: -4.00

# 1.Prompting for User Input:

In [ ]:

celsius = input("Enter the temperature in Celsius: ")

celsius = float(celsius)

print(f"You entered {celsius} degrees Celsius.")

Enter the temperature in Celsius: 28
You entered 28.0 degrees Celsius.

# 2) Converting Celsius to Fahrenheit:

In [ ]:

celsius = input("Enter the temperature in Celsius: ")


celsius = float(celsius)


fahrenheit = (celsius * 9/5) + 32


print(f"The temperature in Fahrenheit is: {fahrenheit:.2f}")

Enter the temperature in Celsius: 32
The temperature in Fahrenheit is: 89.60


# 3.Handling Exceptions:

In [ ]:
try:

    celsius = input("Enter the temperature in Celsius: ")


    celsius = float(celsius)

except ValueError:

    print("Error: Please enter a valid numeric value for the temperature.")

else:

    fahrenheit = (celsius * 9/5) + 32
    print(f"The temperature in Fahrenheit is: {fahrenheit:.2f}")

finally:

    print("Program execution has ended, thank you!")

Enter the temperature in Celsius: 32
The temperature in Fahrenheit is: 89.60
Program execution has ended, thank you!

In [ ]:
try:

    celsius = input("Enter the temperature in Celsius: ")

    celsius = float(celsius)

#zero division error:
except ZeroDivisionError:

    print("Error: Division by zero is not allowed.")

# type error
except TypeError:

    print("Error: Arithmetic operations cannot be performed on incompatible types.")

# value error
except ValueError:

    print("Error: Please enter valid numeric values for the celsius and fahrenheit.")

#	Generic Exception:
except Exception as e:

    print(f"An unexpected error occurred: {e}")

# 4) Output Result:
finally:

    print(" program completed! Thank you for using the program.")

Enter the temperature in Celsius: 32
 program completed! Thank you for using the program.

# **oops**

In [ ]:
class Library:
#	Attributes:
    def __init__(self, book_title, year_published):
        self.book_title = book_title
        self.year_published = year_published

# Methods:
book1 = Library("The secret", 1950)
book2 = Library(" The Twilight saga", 1900)

print(f"Book 1: {book1.book_title}, Published in {book1.year_published}")
print(f"Book 2: {book2.book_title}, Published in {book2.year_published}")

Book 1: The secret, Published in 1950
Book 2:  The Twilight saga, Published in 1900

2)	Create Objects and Use Methods:

In [ ]:

class Library:

    def __init__(self, book_title, year_published):
        self.book_title = book_title
        self.year_published = year_published

    def display_info(self):
        print(f"Book Title: {self.book_title}")
        print(f"Year Published: {self.year_published}")

book1 = Library("The secret", 1950)
book2 = Library("The Twilight saga", 1900)


print("Book 1 Information:")
book1.display_info()

print("\nBook 2 Information:")
book2.display_info()

Book 1 Information:
Book Title: The secret
Year Published: 1950

Book 2 Information:
Book Title: The Twilight saga
Year Published: 1900