<a href="https://colab.research.google.com/github/sobiya1234/Python/blob/main/Python_Assignment_7_Data_Exploration_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

1.Creating Pandas Series:

In [ ]:
#Create a Pandas Series named marks with the following data:
marks=(95, 92, 89, 85, 80)
indices = ['Rank1', 'Rank2', 'Rank3', 'Rank4', 'Rank5']
Marks = pd.Series(marks ,index=indices)
print(Marks)

Rank1    95
Rank2    92
Rank3    89
Rank4    85
Rank5    80
dtype: int64

In [ ]:
# Use the integer index position to access the mark of the 1st rank student.
first_rank_mark = marks[0]
print("1st rank student:", first_rank)

1st rank student: 95

In [ ]:
#Use the loc accessor to retrieve the marks of the top 3 ranks by specifying their index labels.
top_3_marks = Marks.loc[['Rank1', 'Rank2', 'Rank3']]
print("\n Marks of top 3 ranks:\n", top_3_marks)

 Marks of top 3 ranks:
 Rank1    95
Rank2    92
Rank3    89
dtype: int64

In [ ]:
#Use the iloc accessor to retrieve the mark of the 3rd rank student.
third_rank_mark = Marks.iloc[2]
print("\n Mark of 3rd rank student:", third_rank_mark)

 Mark of 3rd rank student: 89

In [ ]:
#Apply a boolean mask to filter the Series and retrieve the ranks where the marks are greater than 90.
Mark_above_90 = Marks[Marks > 90]
print("\n Ranks with marks greater than 90:\n",Mark_above_90)

 Ranks with marks greater than 90:
 Rank1    95
Rank2    92
dtype: int64

3.Manipulating Series:

In [ ]:
#Modify the mark of the student with the 1st rank to 100.
marks=(95, 92, 89, 85, 80)
indices = ['Rank1', 'Rank2', 'Rank3', 'Rank4', 'Rank5']
Marks = pd.Series(marks ,index=indices,name="Marks Details")
Marks['Rank1']= 100
print("Update Marks Rank1:\n", Marks)

Update Marks Rank1:
 Rank1    100
Rank2     92
Rank3     89
Rank4     85
Rank5     80
Name: Marks Details, dtype: int64

In [ ]:
#Compute the CGPA by dividing each mark in the Series by 10.
marks=(100, 92, 89, 85, 80)
indices = ['Rank1', 'Rank2', 'Rank3', 'Rank4', 'Rank5']
Marks = pd.Series(marks ,index=indices,name="Marks Details")
CGPA = Marks/10
print("CGPA (marks divided by 10):\n", CGPA)

CGPA (marks divided by 10):
 Rank1    10.0
Rank2     9.2
Rank3     8.9
Rank4     8.5
Rank5     8.0
Name: Marks Details, dtype: float64

In [ ]:
#Remove the entry corresponding to the last rank from the Series.
marks=(100, 92, 89, 85, 80)
indices = ['Rank1', 'Rank2', 'Rank3', 'Rank4', 'Rank5']
Marks = pd.Series(marks ,index=indices,name="Marks Details")
marks_modified = Marks.drop('Rank5')
print("\n3. Marks after removing Rank5:\n", marks_modified)

3. Marks after removing Rank5:
 Rank1    100
Rank2     92
Rank3     89
Rank4     85
Name: Marks Details, dtype: int64

In [ ]:
#Create a Pandas DataFrame named transactions with the following data:

data = {
    'TransactionID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Furniture','Clothing', 'Electronics', 'Furniture', 'Clothing', 'Furniture', 'Electronics'],
    'Region': ['North', 'South', 'North', 'East', 'West','North', 'East', 'West', 'South', 'North'],
    'Amount': [200, 150, 300, 450, 200, 250, 300, 180, 350, 400]}

transactions = pd.DataFrame(data)

print(transactions)

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

In [ ]:
#Display the transactions DataFrame and its basic information, including head, tail, shape, column names, and data types.
# Display the full DataFrame
print("Full DataFrame:")
print(transactions)

# Display the first 5 rows
print("\nHead (first 5 rows):")
print(transactions.head())

# Display the last 5 rows
print("\nTail (last 5 rows):")
print(transactions.tail())

# Display the shape of the DataFrame
print("\nShape of the DataFrame:")
print(transactions.shape)

# Display the column names
print("\nColumn Names:")
print(transactions.columns.tolist())

# Display the data types of each column
print("\nData Types:")
print(transactions.dtypes)

Full DataFrame:
   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

Head (first 5 rows):
   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200

Tail (last 5 rows):
   TransactionID ProductCategory Region  Amount
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

Shape of the DataFrame:
(10, 4)

Column Names:
['TransactionID', 'ProductCategory', 'Region', 'Amount']

Data Types:
TransactionID       int64
ProductCategory    object
Region             object
Amount              int64
dtype: object

In [ ]:
#Display only the 'ProductCategory' and 'Amount' columns.
print(transactions[['ProductCategory', 'Amount']])

  ProductCategory  Amount
0     Electronics     200
1        Clothing     150
2     Electronics     300
3       Furniture     450
4        Clothing     200
5     Electronics     250
6       Furniture     300
7        Clothing     180
8       Furniture     350
9     Electronics     400

In [ ]:
#Retrieve the last 3 columns of the DataFrame using iloc or loc.
last_three_columns_loc = transactions.iloc[-3:]
print(last_three_columns_loc)

   TransactionID ProductCategory Region  Amount
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

In [ ]:
#Filter rows where the 'Region' is 'North' and 'Amount' is greater than 200
filtered_rows = transactions[(transactions['Region'] == 'North') & (transactions['Amount'] > 200)]
print(filtered_rows)

   TransactionID ProductCategory Region  Amount
2            103     Electronics  North     300
5            106     Electronics  North     250
9            110     Electronics  North     400

In [ ]:
#Find the value counts for the 'ProductCategory' column.
product_counts = transactions['ProductCategory'].value_counts()
print(product_counts)

ProductCategory
Electronics    4
Clothing       3
Furniture      3
Name: count, dtype: int64

In [ ]:
#Find the unique values in the 'Region' column.
unique_regions = transactions['Region'].unique()
print(unique_regions)

['North' 'South' 'East' 'West']

In [ ]:
#Group by 'Region' and find the mean amount for each region
mean_amount_by_region = transactions.groupby('Region')['Amount'].mean()
print(mean_amount_by_region)

Region
East     375.0
North    287.5
South    250.0
West     190.0
Name: Amount, dtype: float64

In [ ]:
#Modify the 'Amount' for the transaction with TransactionID 102 to 165.
transactions.loc[transactions['TransactionID'] == 102, 'Amount'] = 165
print(transactions[transactions['TransactionID'] == 102])

   TransactionID ProductCategory Region  Amount
1            102        Clothing  South     165

In [ ]:
#Add a new column 'Discount' by calculating 10% of the 'Amount'.
transactions['Discount'] = transactions['Amount'] * 0.10
print(transactions)

   TransactionID ProductCategory Region  Amount  Discount
0            101     Electronics  North     200      20.0
1            102        Clothing  South     165      16.5
2            103     Electronics  North     300      30.0
3            104       Furniture   East     450      45.0
4            105        Clothing   West     200      20.0
5            106     Electronics  North     250      25.0
6            107       Furniture   East     300      30.0
7            108        Clothing   West     180      18.0
8            109       Furniture  South     350      35.0
9            110     Electronics  North     400      40.0

In [ ]:
#Remove the row with TransactionID 109.
transactions = transactions[transactions['TransactionID'] != 109]
print(transactions)

   TransactionID ProductCategory Region  Amount  Discount
0            101     Electronics  North     200      20.0
1            102        Clothing  South     165      16.5
2            103     Electronics  North     300      30.0
3            104       Furniture   East     450      45.0
4            105        Clothing   West     200      20.0
5            106     Electronics  North     250      25.0
6            107       Furniture   East     300      30.0
7            108        Clothing   West     180      18.0
9            110     Electronics  North     400      40.0

In [ ]:
#Delete the 'Discount' column from the DataFrame.
transactions = transactions.drop(columns=['Discount'])
print(transactions)

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     165
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
9            110     Electronics  North     400

4.Data Wrangling:

In [ ]:
# Create a Pandas DataFrame named profit_data with the following data:
#	TransactionID: 101, 102, 103, 105, 106, 107, 108, 109, 110
# Profit: 50, 20, 70, 40, 60, 80, 30, 90, 110

profit_info = {
    'TransactionID': [101, 102, 103, 105, 106, 107, 108, 109, 110],
    'Profit': [50, 20, 70, 40, 60, 80, 30, 90, 110]}

profit_data = pd.DataFrame(profit_info)

print(profit_data)

   TransactionID  Profit
0            101      50
1            102      20
2            103      70
3            105      40
4            106      60
5            107      80
6            108      30
7            109      90
8            110     110

In [ ]:
#Merge the transactions DataFrame with the profits DataFrame using a left join.
merged_data = transactions.merge(profit_data, on='TransactionID', how='left')
print(merged_data)

   TransactionID ProductCategory Region  Amount  Profit
0            101     Electronics  North     200    50.0
1            102        Clothing  South     165    20.0
2            103     Electronics  North     300    70.0
3            104       Furniture   East     450     NaN
4            105        Clothing   West     200    40.0
5            106     Electronics  North     250    60.0
6            107       Furniture   East     300    80.0
7            108        Clothing   West     180    30.0
8            110     Electronics  North     400   110.0

In [ ]:
#	Concatenate another DataFrame with additional TransactionIDs 111 and 112. This additional DataFrame should have the following data:
#	TransactionID: [111, 112]
#	ProductCategory: ['Toys', 'Books']
#	Region: ['North', 'South']
# Amount: [220, 170]

additional_data = pd.DataFrame({
    'TransactionID': [111, 112],
    'ProductCategory': ['Toys', 'Books'],
    'Region': ['North', 'South'],
    'Amount': [220, 170]})

transactions = pd.concat([transactions, additional_data], ignore_index=True)

print(transactions)

    TransactionID ProductCategory Region  Amount
0             101     Electronics  North     200
1             102        Clothing  South     165
2             103     Electronics  North     300
3             104       Furniture   East     450
4             105        Clothing   West     200
5             106     Electronics  North     250
6             107       Furniture   East     300
7             108        Clothing   West     180
8             110     Electronics  North     400
9             111            Toys  North     220
10            112           Books  South     170