<a href="https://colab.research.google.com/github/sobiya1234/Python/blob/main/Python_Assignment_2_Data_Structures_List%2C_Dictionary%2C_Set%2C_Frozenset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.List Creation:

a.Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]

In [ ]:
age_list=[19,20,21,22,23]
age_list

[19, 20, 21, 22, 23]

b.Create a list named name_list with five string elements.

In [ ]:
name_list=["manoj","priya","charu","mani","saranya"]
name_list

['manoj', 'priya', 'charu', 'mani', 'saranya']

2.List Operations / Modifications:

a.Append the string "saranya" to name_list

In [ ]:
name_list.append("saranya") ji
name_list

SyntaxError: invalid syntax (<ipython-input-4-6d247a775765>, line 1)

b.Insert the element 30 at index 2 in age_list.

In [ ]:
age_list.insert(2,30)
age_list

[19, 20, 30, 21, 22, 23]

c.Remove the string "saranya" from name_list.

In [ ]:
name_list.remove("saranya")
name_list

['manoj', 'priya', 'charu', 'mani']

d.Pop the last element from age_list.

In [ ]:
age_list.pop()
age_list

[19, 20, 30, 21, 22]

e.Extend the age_list with additional ages [29, 30, 26].

In [ ]:
age_list.extend([29,30,26])
age_list

[19, 20, 30, 21, 22, 29, 30, 26]

f.Sort age_list in descending order.

In [ ]:
age_list.sort(reverse=True)
age_list

[30, 30, 29, 26, 22, 21, 20, 19]

g.Find Max age, Min age and sum of all ages from age_list.

In [ ]:
max_age=max(age_list)
min_age=min(age_list)
sum_ages=sum(age_list)
print(max(age_list))
print(min(age_list))
print(sum(age_list))

30
19
197

h.Make a copy of age_list and store as age_list_copy

In [ ]:
age_list_copy=age_list.copy()
age_list_copy

[30, 30, 29, 26, 22, 21, 20, 19]

i.Clear all elements from age_list_copy.

In [ ]:
age_list_copy.clear()
age_list_copy

[]

3. Accessing List Elements:

a.Print the first element of name_list.

In [ ]:
name_list[0]

'manoj'

b.Print the last element of name_list.

In [ ]:
name_list[-1]

'mani'

c.Print the elements from index 2 to index 4 in name_list.

In [ ]:
name_list[2:5]

['charu', 'mani']

d.Print the elements of name_list in reverse order.

In [ ]:
name_list[::-1]

['mani', 'charu', 'priya', 'manoj']

e.Create a list called list_dup = [1, 2, 1, 1, 3, 1, 2, 5, 9, 1] and print the number of times element ‘1’ has occurred.

In [ ]:
list_dup=[1, 2, 1, 1, 3, 1, 2, 5, 9, 1]
list_dup

[1, 2, 1, 1, 3, 1, 2, 5, 9, 1]

In [ ]:
list_dup.count(1)

5

f.Print length of list_dup.

In [ ]:
len(list_dup)

10

1. Dictionary Creation:

a.Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100).

In [ ]:
student_mark={"manoj":95,
              "priya":90,
              "charu":85,
              "mani":80,
              "saranya":75}

In [ ]:
student_mark

{'manoj': 95, 'priya': 90, 'charu': 85, 'mani': 80, 'saranya': 75}

b.Access and print the mark of a specific student, of your choice.

In [ ]:
student_mark={"manoj":95,
              "priya":90,
              "charu":85,
              "mani":80,
              "saranya":75}
print("mani's mark:", student_mark["mani"])

mani's mark: 80